- name: Download Helm
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: "0700"

- name: Install required packages
  ansible.builtin.apt:
    pkg:
      - wget
      - curl
      - net-tools

- name: Install helm
  ansible.builtin.shell: bash /tmp/get_helm.sh

- name: Add Helm repository
  kubernetes.core.helm_repository:
    name: jenkinsci
    repo_url: https://charts.jenkins.io

- name: Update Helm repo
  ansible.builtin.shell: helm repo update

- name: Creating jenkins volume
  kubernetes.core.k8s:
    state: present
    src: https://raw.githubusercontent.com/installing-jenkins-on-kubernetes/jenkins-volume.yaml

- name: Creating jenkins service
  kubernetes.core.k8s:
    state: present
    src: https://raw.githubusercontent.com/installing-jenkins-on-kubernetes/jenkins-sa.yaml
